* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dbdbdb;
}

.navbar .container {
    height: 100%;
    width: 935px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .container .left {
    display: flex;
}

.navbar .container .left .icon-left {
    font-size: 25px;
    padding-right: 10px;
}

.search {
    position: relative;
}

.errspan {
    font-size: 12px;
    float: left;
    left: 75px;
    top: 4px;
    position: relative;
    z-index: 2;
}

input[placeholder="Tìm kiếm"] {
    text-align: center;
    width: 216px;
    height: 20px;
    border: none;
    border: 1px solid rgb(146, 146, 146);
    border-radius: 5px;
    background-color: rgba(245, 245, 245, 0.747);
}

.navbar .container .right {
    display: flex;
}

.navbar .container .right .icon-right {
    font-size: 25px;
    padding-left: 25px;
}

.navbar .container .right .avatar img {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.main {
    width: 100%;

    background-color: #fafafa;
}

.main .container {
    width: 935px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.main .container .about {
    display: flex;
    width: 100%;
    height: 150px;
    padding: 50px 0px;
    border-bottom: 1px solid #dbdbdb;
}

.main .container .about .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 425px;
}

.main .container .about .avatar img {
    border-radius: 50%;
}

.main .container .about .infomation {
    width: 100%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main .container .about .infomation .first {
    display: flex;
}

.main .container .about .infomation .first .name {
    font-size: 28px;
    padding-right: 30px;
}

.main .container .about .infomation .first .edit-profile {
    display: flex;
    align-items: center;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 0 12px;
    font-weight: bold;
    font-size: 14px;
}

.main .container .about .infomation .first .edit-profile:hover a {
    color: blue;
}
.main .container .about .infomation .first .setting {
    padding-left: 15px;
    padding-top: 5px;
    font-size: 20px;
}

.main .container .about .infomation .second {
    display: flex;
}

.main .container .about .infomation .second .same-style {
    padding-right: 50px;
}

.main .container .tab {
    height: 52px;
    display: flex;
    justify-content: center;
}

.main .container .tab .tab-child {
    width: 700px;
    display: flex;
    justify-content: space-evenly;
}

.main .container .tab .tab-element {
    font-size: 14px;
    color: #888;
    padding: 20px 0;
}

.main .container .tab .posts {
    color: black;
    border-top: 1px solid black;
}

.main .container .tab .tab-element i {
    padding-right: 5px;
}

.main .container .picture {
    position: relative;
}

.main .container .picture .post-pic {
    height: 293px;
    width: 293px;
    padding: 7px;
    display: inline-block;
    z-index: 1;
    position: relative;
}

.main .container .picture .post-pic img {
    height: 100%;
    width: 100%;
}
.main .container .picture .post-pic .overlay {
    height: 293px;
    width: 293px;
    position: absolute;
    top: 7px;
    color: white;
    font-size: 20px;
    display: none;
}

.main .container .picture .post-pic:hover .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(96, 72, 72, 0.4);
}

.main .container .picture .post-pic .overlay .like {
    padding-right: 20px;
}

.main .container .footer {
    padding: 50px 0;
}

.main .container .footer .first {
    display: flex;
    justify-content: space-between;
}

.main .container .footer .first a {
    text-decoration: none;
    color: #004e93;
    font-size: 0.8rem;
    font-weight: bold;
}

.main .container .footer .second {
    font-size: 13px;
    padding-top: 20px;
    color: #999;
}

.main-navbar {
    position: relative;
    top: 0px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    height: 20px;

    z-index: 1000;
}
